/* IMPOSTAZIONI GENERALI */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    background-image: url(../img/sfondo.png);
    background-size: auto;
    background-position: center;
    width: 100%;
} 
body {
    font-family: 'Poppins', sans-serif;
    
}
/* HEADER */
header {
background-color: #337492;
width: 90vw;
height: 70vh;
margin: auto;
text-transform: uppercase;
box-shadow: 5px 5px 3px #888888;
}

#div_header {
    text-align: center;
}

#div_header img  {
    margin: 2em;
}

#div_header p {
    
    color: white;
font-size: 20px;
}
#nav_header {
    text-align: center;
    color: white;
    margin-right: 20px;
    font-weight: bold;
    line-height: 2em;
    margin-top: 2em;
    
}
#nav_header a{
    text-align: center;
    color: white;
    text-decoration: none;

}
#nav_header ul{
    list-style: none;
    font-size: 24px;
}
/* MAIN */

main {
    background-color: #fff;
width: 90%;
height: 90%;
margin: 5%;
box-shadow: 5px 5px 3px #888888;
}
article {
    padding: 5%;
    line-height: 26px;
letter-spacing: 1px;
}






/* ELEMENTI NEL MAIN - ARTICLE */


article h1{
    font-size: 35px;
    margin-bottom: 1em;
    line-height: 48px;
    font-weight: 600;
  }

.p_grey {
    color: #888888;
    margin-bottom: 1em;
}

strong {
    color: purple;
}
.p_list {
   
    font-size: 18px;
    margin-bottom: 1em;
}
      
code{
    background: lightgray;
border-radius: 5px;
border: solid gray 1px;
}

.fa-solid{
    margin: 3px;
}
.paragrafo_lista{
    margin-bottom: 1em;
    font-size: 18px;
}

#ul_main {
    margin-left: 1em;
    font-size: 16px;
    margin-bottom: 1em;
  }
  #h2_piccolo{
    font-size: 18px;
    margin-bottom: -16px;

  }
 
  #p_di_h2 {
    font-size: 18px;
margin-bottom: 1em;
  }

  

/* TABELLE */

caption{
    font-weight: bold;
    font-style: italic;
}

.content-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
margin: auto;
text-align: center;
}

.table-head tr{
    background-color: #5138ff;
    font-weight: bold;
   
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table  tr {
    border-bottom: 1px solid lightgrey;
}
.content-table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tr:last-child {
    border-bottom: 2px solid #5138ff;
}
p {
    font-size: 18px;
}
iframe {
    border-radius: 2em;
    overflow: hidden;
    width: 100%;
    height: 195px;
    margin-left: 7px;
    margin-bottom: 2em;
}


/* FORM */
#novità {
    background-color: lightgrey;
    width: 100%;
}
#novità h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
   }
   #novità p{
    font-size: 16px;
    margin-inline: 7%;
   }
   #novità section {
    padding: 1px 0 8px 0;
   }
   #user_email {
    border: none;
    border-bottom: dashed grey;
    width: 17em;
    height: 2em;
   }
 button {
    border: none;
    background-color: #5138ff;
    background-color: ;
    color: white;
    width: 7em;
    height: 2em;
   }
/* ultimare i font, novita è da allineare nel box grey */
/* ELEMENTI NELL' ASIDE */
#articoli-h2{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}
.grey-box {
    background-color: lightgrey;
    border: 1px solid grey;
    padding: 5%;
    margin-bottom: 1em;
}
.grey-box a {
    color: dodgerblue;
}
.grey-box p:last-child {
    font-size: 13px;
    text-indent: 7em;
}
hr {
    border: none;
}

/* FOOTER */
footer {
     color: white;
     padding: 4px 9px 26px 10px;
    margin: 5%;
     background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(15,78,101,1) 100%); 
     line-height: 24px;
     box-shadow: 5px 5px 3px #888888;
    }
footer p {
    text-align: center;
}
footer a {
    color: hotpink;
}